	<div id="burger-img">
  <img src="https://media1.tenor.com/images/9e1d1b019a812623a18c844a8d619c3f/tenor.gif?itemid=11644578" alt="burger" width="400px" height="400px"/>
</div>

<h1>Eat Da Burger!</h1>


  <div class="container">
    <div class="row">
      <div class="col s6">
        <ul>
        {{#each burgers}}
        {{#unless devoured}}
        {{> burger-block devoured = true}}
          
        {{/unless}}
        {{/each}}
        </ul>
      </div>

      <div class="col s6">
      <h2>Devoured Burgers</h2>
        <ul>
        {{#each burgers}}
        {{#if devoured}}
        {{> burger-block devoured = false}}
          
        {{/if}}
        {{/each}}
        </ul>
      </div>
    </div>
  </div>


<h2>Add a Burger</h2>
  <form class="create-form">

    <div class="form-group">
      <label for="ca">Burger type:</label>
      <input type="text" id="ca" name="name">
    </div>

    <div class="form-group">
      <label for="devoured">Do you wanna eat?</label><br>
      <input type="radio" name="devoured" value="1" checked/> Not Devoured!
      <br>
      <input type="radio" name="devoured" value="0"> Devoured!
    </div>

    <button type="submit">Add Burger</button>
  </form>